/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  align-items: center;
  margin: 0 auto;
}

.main-header {
  border-top: 5px solid #219ebc;
}

.logo {
  height: 3rem;
  width: 18rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-header {
  position: relative;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-btn {
  height: 2.8rem;
  width: 2.8rem;
}

.menu-btn {
  display: none;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #222;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #219ebc;
}

.sub-nav-link:link,
.sub-nav-link:visited {
  text-decoration: none;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s;
}

.sub-nav-link:hover,
.sub-nav-link:active {
  color: #219ebc;
}

.sub-nav {
  display: flex;
  position: absolute;
  opacity: 0;
  list-style: none;
  gap: 3.2rem;
  top: 100%;
  left: 0rem;
  z-index: 0;
  transform-origin: top;
  width: 100%;
  padding: 1.2rem;
  background-color: #ddd;
  justify-content: center;
  transition: all 0.3s;
  transform: scaleY(0);
}

.first-menu {
  text-align: center;
  padding: 2.5rem 0 2.5rem 0;
}

.first-menu:hover .sub-nav {
  z-index: 1;
  opacity: 1;
  transform: scaleY(1);
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  position: relative;
  background-image: url("/img/heroimg.webp");
  background-size: cover;
}

.hero-img {
  width: 100%;
  height: 82vh;
  visibility: hidden;
}

.hero-container {
  max-width: 116rem;
  margin: 0 auto;
}

.hero-box {
  position: absolute;
  top: 50%;
  width: 23%;
  transform: translate(0, -50%);
}

.hero h2 {
  color: #118ab2;
  letter-spacing: -1px;
}

.hero-text-description {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 12px;
  line-height: 1.5;
}

.learn-more-link:link,
.learn-more-link:visited {
  position: relative;
  display: flex;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #118ab2;
  width: fit-content;
  gap: 3rem;
  align-items: center;
}

.learn-more-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom left;
  transition: all 0.3s;
}

.learn-more-link:hover::after {
  transform: scaleX(1);
}

.arrow-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.btn {
  position: absolute;
  border: none;
  height: 100%;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.btn:hover .hero-carousel {
  stroke: #118ab2;
}

.hero-carousel {
  height: 12rem;
  width: 12rem;
  stroke: #ddd;
}

.img-box {
  background-image: url("/img/info.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.more-info-btn:hover .img-box {
  background-image: linear-gradient(to right bottom, #00519d9f, #00519d9f),
    url("/img/info.webp");
}

/**************************/
/* Products SECTION */
/**************************/

.products-section {
  background-color: #ddd;
}

.products {
  padding-right: 7rem;
  padding-left: 7rem;
  position: relative;
}

.headline-text-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 36rem;
  width: 100%;
}
.product-box-left {
  background-image: url("/img/Product1.webp");
}
.product-box-middle {
  background-image: url("/img/Product2.webp");
}
.product-box-right {
  background-image: url("/img/Product3.webp");
}

.headline-text-box {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  justify-content: end;
}

.headline-text-box h2 {
  color: #fff;
}
.headline-text-box p {
  font-size: 1.6rem;
  color: #fff;
}

.product-list {
  padding: 2.2rem;
}

.product-type {
  background-color: #fff;
}
.product-list ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}

.product-list ul li {
  position: relative;
  width: fit-content;
}

.product-link-shop {
  color: #118ab2;
  text-decoration: none;
  font-size: 1.4rem;
  border: none;
  background-color: #fff;
  padding-bottom: 2px;
  cursor: pointer;
}

.product-link:link,
.product-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #222;
  transition: all 0.3s;
  padding: 2px 0;
}

.product-link:hover,
.product-link:active {
  text-decoration: none;
}

.product-link::after,
.product-link-shop::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #118ab2;
  transform-origin: bottom left;
  transition: all 0.3s;
}

.product-link:hover::after,
.product-link-shop:hover::after {
  transform: scaleX(1);
}

.carousel-class {
  width: 4rem;
  height: 4rem;
  stroke: #000;
  stroke-width: 1.5;
}

.products-carousel-btn {
  display: none;
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: inherit;
  top: 50%;
  right: 6px;
}

/**************************/
/* Featured-Products SECTION */
/**************************/

.featured-product-types {
  position: relative;
}

.featured-products {
  margin-top: 8rem;
  padding: 0rem 7rem 9.6rem 7rem;
}

.product-img {
  width: 100%;
  height: fit-content;
}

.featured-products h1 {
  font-size: 4.4rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 3.2rem;
}

.featured-products h2 {
  color: #222;
}

.product-content {
  position: relative;
  text-align: center;
}

.featured-products-description {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.5;
  padding: 0 3.6rem;
  margin-bottom: 1rem;
}

.product-content a:link,
.product-content a:visited {
  display: inline-block;
  font-size: 1.4rem;
  color: #118ab2;
  text-decoration: underline;
  margin-bottom: 1.2rem;
}

.pricing {
  font-size: 2.4rem;
  color: #118ab2;
  word-spacing: 1.6rem;
  margin-bottom: 1.2rem;
}

.pricing span {
  text-decoration: line-through;
}

.shipping {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.product-content button span {
  font-size: 2rem;
}

.product-content button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.dots {
  position: absolute;
  display: flex;
  gap: 8px;
  left: 50%;
  bottom: -6rem;
  transform: translate(-50%, 0);
}

.dots button:last-child {
  display: none;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #118ab2;
  border-radius: 50%;
  cursor: pointer;
}

.dot-fill {
  background-color: #118ab2;
}

.carousel-btn {
  position: absolute;
  border: none;
  background-color: #fff;
  right: -10rem;
  top: 50%;
  cursor: pointer;
}

.products-corousel {
  stroke: #118ab2;
}

.img-box-2 {
  background-image: url("/img/info-2.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.more-info-btn:hover .img-box-2 {
  background-image: linear-gradient(to right bottom, #00519d9f, #00519d9f),
    url("/img/info-2.webp");
}

/**************************/
/* Subscription SECTION */
/**************************/

.subscription-section {
  background-color: #111;
  margin-bottom: 4.8rem;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 2rem;
}
.subscribe p {
  font-size: 3rem;
  color: #ddd;
  font-weight: 600;
}

.subscribe-content {
  font-size: 1.4rem !important;
}

/**************************/
/* Footer */
/**************************/

.logo-footer {
  height: 2.4rem;
  margin-bottom: 4.8rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0rem 2rem;
  gap: 3rem;
}

.footer-heading {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 1.6rem;
}

.footer-nav {
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #222;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-support {
  font-size: 1.4rem;
  color: #222;
}

.footer-support a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.select-region {
  width: 100%;
  border: none;
  border-bottom: 2px solid #118ab2;
  color: #219ebc;
  padding: 6px;
  font-size: 1.4rem;
  outline: none;
  background-image: url("https://w7.pngwing.com/pngs/523/1012/png-transparent-arrow-computer-icons-encapsulated-postscript-drop-down-list-arrow-blue-angle-text.png");
  appearance: none;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom: 3rem;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

.social-icon {
  height: 2.8rem;
  width: 2.8rem;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #118ab2;
}

.copyrights {
  margin: 8rem 0 4rem 0;
  color: #333;
}
